<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="joint_limits_path" value="$(find khi_description)/config/$(arg robot_series)/$(arg robot_name)/joint_limits.yaml"/>
  <xacro:property name="joint_limits" value="${xacro.load_yaml(joint_limits_path)}"/>

  <xacro:property name="lower_jt1_min_position" value="${joint_limits['joint_limits']['lower_joint1']['min_position']}"/>
  <xacro:property name="lower_jt2_min_position" value="${joint_limits['joint_limits']['lower_joint2']['min_position']}"/>
  <xacro:property name="lower_jt3_min_position" value="${joint_limits['joint_limits']['lower_joint3']['min_position']}"/>
  <xacro:property name="lower_jt4_min_position" value="${joint_limits['joint_limits']['lower_joint4']['min_position']}"/>
  <xacro:property name="upper_jt1_min_position" value="${joint_limits['joint_limits']['upper_joint1']['min_position']}"/>
  <xacro:property name="upper_jt2_min_position" value="${joint_limits['joint_limits']['upper_joint2']['min_position']}"/>
  <xacro:property name="upper_jt3_min_position" value="${joint_limits['joint_limits']['upper_joint3']['min_position']}"/>
  <xacro:property name="upper_jt4_min_position" value="${joint_limits['joint_limits']['upper_joint4']['min_position']}"/>

  <xacro:property name="lower_jt1_max_position" value="${joint_limits['joint_limits']['lower_joint1']['max_position']}"/>
  <xacro:property name="lower_jt2_max_position" value="${joint_limits['joint_limits']['lower_joint2']['max_position']}"/>
  <xacro:property name="lower_jt3_max_position" value="${joint_limits['joint_limits']['lower_joint3']['max_position']}"/>
  <xacro:property name="lower_jt4_max_position" value="${joint_limits['joint_limits']['lower_joint4']['max_position']}"/>
  <xacro:property name="upper_jt1_max_position" value="${joint_limits['joint_limits']['upper_joint1']['max_position']}"/>
  <xacro:property name="upper_jt2_max_position" value="${joint_limits['joint_limits']['upper_joint2']['max_position']}"/>
  <xacro:property name="upper_jt3_max_position" value="${joint_limits['joint_limits']['upper_joint3']['max_position']}"/>
  <xacro:property name="upper_jt4_max_position" value="${joint_limits['joint_limits']['upper_joint4']['max_position']}"/>

  <xacro:property name="lower_jt1_max_velocity" value="${joint_limits['joint_limits']['lower_joint1']['max_velocity']}"/>
  <xacro:property name="lower_jt2_max_velocity" value="${joint_limits['joint_limits']['lower_joint2']['max_velocity']}"/>
  <xacro:property name="lower_jt3_max_velocity" value="${joint_limits['joint_limits']['lower_joint3']['max_velocity']}"/>
  <xacro:property name="lower_jt4_max_velocity" value="${joint_limits['joint_limits']['lower_joint4']['max_velocity']}"/>
  <xacro:property name="upper_jt1_max_velocity" value="${joint_limits['joint_limits']['upper_joint1']['max_velocity']}"/>
  <xacro:property name="upper_jt2_max_velocity" value="${joint_limits['joint_limits']['upper_joint2']['max_velocity']}"/>
  <xacro:property name="upper_jt3_max_velocity" value="${joint_limits['joint_limits']['upper_joint3']['max_velocity']}"/>
  <xacro:property name="upper_jt4_max_velocity" value="${joint_limits['joint_limits']['upper_joint4']['max_velocity']}"/>
</robot>
